<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-road" aria-hidden="true"></i> Baseball Cards Database </h1>
    <p>Welcome to the Baseball Cards Database!</p>
    <p>This keeps track of all the cards in the database.</p>
    <p>Can also search for a specific attributes via Tables.<p>
    <ul> 
    	<li> Display View: and select a generated search of what exists in the database</li>
    	<li> Tables: a player, team, card, or grade if you want to narrow down your search to a specific attribute. Can add, update, and delete.</li>
    	<li> Display View -> Full View: See all the cards with their info in the database. Can add, update, delete and change attributes' values.</li>
    </ul>
  </div>
</div>